<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Books</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
</head>
<body>
<div class="container" id="app">
    <div class="row">
        <h1>Books</h1>
        <div class="well">
            <input type="search" v-model="MySearch" class="form-control" placeholder="Search">
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Value</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="book in books | filterBy MySearch 'title' 'description' ">
                    <td>{{ book.id }}</td>
                    <td>{{ book.title | uppercase }}</td>
                    <td>{{ book.value | currency }}</td>
                    <td>{{ book.description }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<script src="node_modules/vue/dist/vue.js"></script>
<script src="node_modules/vue-resource/dist/vue-resource.js"></script>
<script src="js/app.js"></script>
</body>
</html>